<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="additem.css">
</head>
<body>
    <%- include("header") %>
    <div class="add-form">
        <div>
            <label for="title"> Title </label>  <br>
            <input type="text" name="title">
        </div>
        <div>
            <label for="ImgUrl"> Image URL </label>  <br>
            <input type="url" name="ImgUrl">
        </div>
        <div>
            <label for="price"> Price </label>  <br>
            <input type="number" name="price">
        </div>    
        <div>
            <label for="detailItem"> Description </label>  <br>
            <textarea name="detailItem" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Add Product</button>
    </div>
</body>
</html>