<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="header">
        <div id="shop" class="inhead"> <a href="/">Shop</a> </div>
        <div id="products" class="inhead"> <a href="/products"> Products </a> </div>
        <div id="cart" class="inhead"> <a href="/cart"> Cart </a> </div>
        <div class="inhead">Orders</div>
        <div class="inhead"> <a href="/additem"> Add Products</a></div>
        <div id="adminProducts" class="inhead"> <a href="/admin">Admin product</a></div>
    </div>
</body>

</html>