table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.btn-delete {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}